<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scribbled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta name="description" content="An online documents and books library inspired by Scribd" />
    <meta name="author" content="Sara Sampson" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_30-scribd-512.png">

    <link rel="apple-touch-icon" href="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/290_Scribd-512.png">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript">
    window.animalsURL = "<%= image_url('book-covers/animals.jpg') %>";
    window.bad_blood_coverURL = "<%= image_url('book-covers/bad_blood_cover.jpg') %>";
    window.schizo_coverURL = "<%= image_url('book-covers/cover_schizopgrenias.jpg') %>";
    window.girlsURL = "<%= image_url('book-covers/DearGirls.jpg') %>";
    window.enlightURL = "<%= image_url('book-covers/enlight.jpg') %>";
    window.storiesURL = "<%= image_url('book-covers/stories.jpg') %>";
    window.talkURL = "<%= image_url('book-covers/talk.jpg') %>";
    window.deusURL = "<%= image_url('book-covers/homo-deus.jpg') %>";


    window.fleaURL = "<%= image_url('book-covers/fleabag.jpg') %>";
    
    window.logoURL = "<%= image_url('scribbled-logo.png') %>";
    window.starEmptyURL = "<%= image_url('star-empty.png') %>";
    window.starFullURL = "<%= image_url('star-full.png') %>";
    window.redStarFullURL = "<%= image_url('red-star-full.png') %>";
  </script>
  </head>
  

  <body>
    <%= yield %>
  </body>
</html>
