<!DOCTYPE html>
<html>
  <head>
    <title>Scribbled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_30-scribd-512.png">
    
  </head>
  <script type="text/javascript">
    window.animalsURL = "<%= image_url('book-covers/animals.jpg') %>";
    window.bad_blood_coverURL = "<%= image_url('book-covers/bad_blood_cover.png') %>";
    window.chemistryURL = "<%= image_url('book-covers/chemistry.jpg') %>";
    window.lobsterURL = "<%= image_url('book-covers/consider-the-lobster.jpg') %>";
    window.schizo_coverURL = "<%= image_url('book-covers/cover_schizopgrenias.jpg.jpg') %>";
    window.logoURL = "<%= image_url('scribbled-logo.png') %>";
  </script>

  <body>
    <%= yield %>
  </body>
</html>
