<!DOCTYPE html>
<html>
  <head>
    <title>Scribbled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_30-scribd-512.png">
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
