<!DOCTYPE html>
<html>
  <head>
    <title>Scribbled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_30-scribd-512.png">
    
  </head>
  <script type="text/javascript">
    window.animalsURL = "<%= image_url('book-covers/animals.jpg') %>";
    window.bad_blood_coverURL = "<%= image_url('book-covers/bad_blood_cover.png') %>";
    window.chemistryURL = "<%= image_url('book-covers/chemistry.jpg') %>";
    window.lobsterURL = "<%= image_url('book-covers/consider-the-lobster.jpg') %>";
    window.schizo_coverURL = "<%= image_url('book-covers/cover_schizopgrenias.jpg') %>";
    window.girlsURL = "<%= image_url('book-covers/DearGirls.jpg') %>";
    window.enlightURL = "<%= image_url('book-covers/enlight.jpg') %>";
    window.killURL = "<%= image_url('book-covers/kill.jpg') %>";
    window.storiesURL = "<%= image_url('book-covers/stories.jpg') %>";
    window.talkURL = "<%= image_url('book-covers/talk.jpg') %>";
    window.factURL = "<%= image_url('book-covers/factfulness.jpg') %>";
    window.deusURL = "<%= image_url('book-covers/homo-deus.jpg') %>";
    window.sapiensURL = "<%= image_url('book-covers/sapiens.jpg') %>";
    window.trickURL = "<%= image_url('book-covers/trick-mirror.jpg') %>";
    window.restURL = "<%= image_url('book-covers/My_Year_of_Rest_and_Relaxation.jpg') %>";
    window.fleaURL = "<%= image_url('book-covers/fleabag.jpg') %>";
    window.logoURL = "<%= image_url('scribbled-logo.png') %>";
  </script>

  <body>
    <%= yield %>
  </body>
</html>
